<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="{{url_for('static',filename ='/assets/css/loginstyle.css')}}" rel="stylesheet" type="text/css" />


	<script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>

	<title>Login Form</title>
</head>

<body>
	<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<!------ Include the above in your HEAD tag ---------->

	<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
		</div>

		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>

		<div class="white-panel">
			<div class="login-show">
				<div class="form-group">
					<h2>LOGIN</h2>
					<input type="text" name="input_username" id="input_username_login" placeholder="Email">
					<input name="input_password" id="input_password_login" type="password" placeholder="Password">

					<div class="form-group form-check">
						<input name="remember" value="1" type="checkbox" class="form-check-input" id="remmeber_check">
						<label class="form-check-label" for="exampleCheck1">Remember me</label>
						<input type="submit" class="btn btn-primary" style="float: right; padding: 10px 30px;
							 float: right; background-color: #242424; 
							 text-transform: uppercase;" value="Login" id="input_submit_login">
					</div>
				</div>
			</div>

			<div class="register-show">
				<div class="form-group">
					<h2>REGISTER</h2>
					<div style="overflow: auto; height:320px;">
						<input type="text" name="input_full_name" id="input_fullname_reg" placeholder="Full name"
							required>
						<input name="input_username" id="input_username_reg" type="text" placeholder="Email" required>
						<input type="password" name="input_password" id="input_password_reg" placeholder="Password"
							required>
						<input type="password" name="input_password_reg_conf" id="input_password_reg_conf"
							placeholder="Confirm Password" required>

						<div class="row">
							<div class="col-5">
								<p id="random_n" class="mb-0"></p>
							</div>
							<div class="col-5">
								<p id="random_e" class="mb-0"></p>
							</div>
							<div class="col-2">
								<button id="btn-refresh"><i class="fa fa-sync"></i></button>
							</div>
							<div class="col-6">
								<input type="text" name="input_reg_key_n" id="input_reg_key_n" placeholder="Nhập key N"
									required>
							</div>
							<div class="col-6">
								<input type="text" name="input_reg_key_e" id="input_reg_key_e" placeholder="Nhập key E"
									required>
							</div>
						</div>
					</div>
					<input type="submit" class="btn btn-primary" style="float: right; padding: 10px 30px;
							float: right; background-color: #242424; 
							text-transform: uppercase;" id="input_submit_reg" value="register">
				</div>
			</div>
		</div>
	</div>
</body>



<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<script>

	//change login to register
	$(document).ready(function () {
		$('.login-info-box').fadeOut();
		$('.login-show').addClass('show-log-panel');
	});


	$('.login-reg-panel input[type="radio"]').on('change', function () {
		if ($('#log-login-show').is(':checked')) {
			$('.register-info-box').fadeOut();
			$('.login-info-box').fadeIn();

			$('.white-panel').addClass('right-log');
			$('.register-show').addClass('show-log-panel');
			$('.login-show').removeClass('show-log-panel');

		}
		else if ($('#log-reg-show').is(':checked')) {
			$('.register-info-box').fadeIn();
			$('.login-info-box').fadeOut();

			$('.white-panel').removeClass('right-log');

			$('.login-show').addClass('show-log-panel');
			$('.register-show').removeClass('show-log-panel');
		}
	});

	//home
	var urlHome = "{{url_for('home')}}"
	//login
	var urlLogin = "{{url_for('login')}}"
	var input_usr = document.getElementById('input_username_login')
	var input_pwd = document.getElementById('input_password_login')

	$("#input_submit_login").click(function () {

		var data = {
			'username': input_usr.value.trim(),
			'password': input_pwd.value.trim(),
		}
		$.ajax({
			url: urlLogin,
			type: 'POST',
			data: JSON.stringify(data),
			success: function (data, status) {
				console.log(data);
				var res = JSON.parse(data)
				if (res['success']) {
					window.location.href = urlHome;
				}
				else {
					alert('Nhập sai tài khoản hoặc mật khẩu!')
				}
			},
			error: function (xhr, desc, err) {
				console.log(xhr);
				console.log("Desc: " + desc + "\nErr:" + err);
			}
		});
	});


	// registor
	var urlReg = "{{url_for('register')}}"
	var input_usr_reg = document.getElementById('input_username_reg')
	var input_pwd_reg = document.getElementById('input_password_reg')
	var input_pwd_reg_conf = document.getElementById('input_password_reg_conf')
	var input_fullname_reg = document.getElementById('input_fullname_reg')



	var input_reg_key_e = document.getElementById('input_reg_key_e')
	var input_reg_key_n = document.getElementById('input_reg_key_n')

	$("#input_submit_reg").click(function () {

		var pwd = input_pwd_reg.value.trim()
		var pwd_conf = input_pwd_reg_conf.value.trim()
		var key_n = input_reg_key_n.value.trim()
		var key_e = input_reg_key_e.value.trim()
		if (pwd != pwd_conf) {
			alert("Confirm fail!!!");
			return;
		}
		if (!confirm("Bạn chắc chắn muốn tạo tài khoản???")) {
			return;
		}
		var data = {
			'fullname': input_fullname_reg.value.trim(),
			'username': input_usr_reg.value.trim(),
			'password': pwd,
			'key_n': key_n,
			'key_e': key_e
		}
		$.ajax({
			url: urlReg,
			type: 'POST',
			data: JSON.stringify(data),
			success: function (data, status) {
				console.log(data);
				var res = JSON.parse(data)
				if (res['success']) {
					window.location.href = urlHome;
				}
				else {
					alert('Đăng ký thất bại!!!')
				}

			},
			error: function (xhr, desc, err) {
				console.log(xhr);
				console.log("Desc: " + desc + "\nErr:" + err);
			}
		});
	});
</script>

</html>